html{
  width:100%;
  height: 100%;
  margin:0;
  padding:0;
  border:0;
}
body{
  width:calc(100% - 20px);
  height:calc(100% - 20px);
    margin:0;
    padding:10px;
    border:0;
    background-color : #01fab9;
    overflow: hidden;
  }
  .container{
    width:calc(100% - 20px);
    height:calc(100% - 20px);
    background-color: white;
    padding:10px;
  }
  .content{
    width: 100%;
    height: 100%;
    background-color:#331e8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .pill {
    border-radius: 94px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 517px;
    height: 200px;
}
  .one{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

  }
  .two img{
    padding:5px;
  }
  .down{
    position: absolute;
    right: 24%;
    bottom: 0%;
  }
  .connect {
    color: white;
    font-weight: 600;
    position: absolute;
    transform: rotate(-32deg);
    font-size: 39px;
    bottom: 22%;
    right: 4%;
}
  .handshake {
    background-color: #01fab9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1%;
    right: -12%;
    transform: rotate(-32deg);
    width: 519px;
    height: 129px;
    z-index: 2;
}
.handshake img{transform: rotate(38deg);}
.twitter{
  background-color :#3d96ee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1%;
  left: -14%;
  transform: rotate(-32deg);
  width: 495px;
  height: 95px;
}
.twitter img{
  transform: rotate(-270deg);
}
.box{
  position:absolute;
  bottom: 0%;
  right: 0%;
  background-color: white;
  width: 90px;
  height: 90px;
}